h2.CardName {
    font-size: .9rem;
    font-weight: 700;
    margin: 0 0 1rem;
    text-transform: uppercase;
    color: var(--font-color-heading);
    font-family: var(--font-family-heading);
}

div.SidebarCard {
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 1rem 0;
    padding: 1.5rem;
}

div.Categories a.category {
    display: flex;
    justify-content: space-between;
    color: var(--font-color-base);
    margin: 0 -.3rem;
    padding: .1rem .5rem;
}

a.category>div.category-name {
    font-size: .9rem;
    font-weight: 600;
}

.category .category-count {
    font-size: .9rem;
    font-weight: 400;
    color: #666;
}

.list .category:hover,
.list .category.active,
a.category.active .category-count,
a.category:hover .category-count {
    color: #14ae73;
}

.Tags .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.tag-list .tag {
    color: var(--font-color-base);
    background-color: var(--button-background-color);
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    font-size: .8rem;
    font-weight: 400;
    padding: .2rem .4rem;
}

.tag-list .tag:hover, .tag-list .tag.active {
    border-color: #14ae73;
}

.post-detail li {
    font-size: .9rem;
}

.post-detail li::marker {
    color: var(--marker-color);
    font-size: 1.1rem;
    line-height: 1;
}