
h1.PageTitle {
  font-size: 3rem;
  font-weight: 600;
  white-space: wrap;
}


h2.SectionTitle {
  font-size: 2rem;
  font-weight: 600;
  overflow:hide;
}

a {
  text-decoration:none !important;
}

h3.SectionItem {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3;
  color:black;
}

h3.SectionItem:hover {
  text-decoration: underline;
}

time {
  color:#aaa;
}