.App {
  padding: 0 7rem;
  padding-top: 3rem;
}

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainbody {
  margin-top: 80px;
}

ol, ul {
    font-size: 1.05rem;
    letter-spacing: -.01rem;
    line-height: 1.625;
    margin-bottom: 1.5rem;
}

h1.PageTitle {
  font-size: 3rem;
  font-weight: 700;
  white-space: wrap;
  line-height: 1.1;
  color: var(--font-color-heading);
}

h2.SectionTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color-heading);
}

a {
  text-decoration: none;
  color:var(--link);
}

@media screen and (max-width: 700px) {
  .mainbody {
    margin-top: 150px;
  }

  .desktop-only {
    display: none !important;
  }

  .App {
    padding: 0 1rem;
  }

  h1.PageTitle {
    font-size: 2.2rem;
  } 

  h2.SectionTitle {
    font-size: 1.7rem;
    font-weight: 700;
  }
}


@media screen and (min-width:700px) {
  .mobile-only {
    display: none !important;
  }
}