#navbar div.NavSection {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.25rem;
}

#navbar a.HeroName {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--font-family-nav);
    margin-bottom: 1.25rem;
}

#navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}

#navbar .nav-item-outer {
    display: flex;
    align-items: center;
}

#navbar nav a.item {
    font-family: var(--font-family-nav);
    color: var(--font-color-heading);
    font-size: 1.05rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-left: none;
    border-right: none;
    gap:0.5rem;
    margin: 0 .3rem;
}

#navbar a.item:first-child {
    margin-left: -1px;
}

#navbar a.item.home:hover, #navbar a.item.home.active {
    border-bottom-color: #5a43f1;
} 

#navbar a.item.writing:hover, #navbar a.item.writing.active {
    border-bottom-color: rgb(88,203,127);
}

#navbar a.item.project:hover, #navbar a.item.project.actove {
    border-bottom-color: rgb(245,206,93);
}

#navbar a.item.record:hover, #navbar a.item.record.active {
    border-bottom-color: #5a43f1;
}

@media screen and (max-width:700px) {
    #navbar {
        position: fixed;
        top:0;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
        padding-top: 1rem;
        z-index: 3;
        background-color: rgb(238, 238, 238);
    }
    #navbar nav {
        gap:0.25rem;
        z-index: 3;
    }

    #navbar a.item {
        font-size: .9rem;
        font-weight: 500;
    }
}



